.App {
  font-family: sans-serif;
  text-align: center;
}

.gridCell {
  text-align: center;
  width: 33.3%;
  float: left;
  margin: 5px 0;
}

.gridContainer {
  display: inline-block;
}

.peopleContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}
